%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-%% ex: ts=4 sw=4 ft=erlang et[    {ranch_tcp,[        {host, "127.0.0.1"},                 %% 监听地址， 默认为本地        {port, 1234},                        %% 监听端口， 默认为1234        {acceptor_num, 10},                  %% 接收进程数， 默认为10        {max_connections, 3},                %% 最大连接数， 默认为10000        {client_shutdown_timeout, 5000},     %% 前端接收进程 关闭timeout时间        {profile, true}                      %% 是否启用eprof    ]}].